<h1>Editing pin</h1>

<%= render 'form' %>
<script>
	dataLayer.push({'screenName': 'edit screen'
	}); 
	console.log('screen name')
	</script>
<%= link_to 'Show', @pin %> |
<%= link_to 'Back', pins_path %>
