<h1>About This App</h1>
<p>
	<script>
	dataLayer.push({'screenName': 'new pin screen'
	}); 
	</script>
  This is a sample application that I built with <%= link_to "One Month Rails", "http://onemonthrails.com" %>
  a great online tutorial to teach 
  <%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
  in one month. <br>
  I work at <%= link_to "SEER Interactive", "http://www.seerinteractive.com"%> and created this app to test ideas with app analytics. 
</p>
