<div class="hero-unit">
	<h1>Welcome to One Month Rails</h1>
	<p>
		You've found the home page for the 
		<%= link_to "Onemonthrails","http://onemonthrails.com" %> application.
	</p>

	<p>
		<%= link_to "sign up", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>